{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'style.css'%}">
  <div class="container">
    <div class="jumbotron">

      {% if user.is_authenticated %}
      <h2>Food Bank Beneficiaries</h2>
    {% else %}
    <h1>Please Login</h1>

    <form method="post" action="{% url 'FoodBankManage:user_login' %}">
      {% csrf_token %}
      
      <label for="username">Username:</label>
      <input type="text" name="username" placeholder="Username">

      <label for="password"></label>
      <input type="password" name="password">

      <input type="submit" name="" value="Login">

    </form>

    {% endif %}

      
    </div>

    {% if user.is_authenticated %}
    <div class="contai">  
        <form id="contact" action="../foodBankInventory/" name="block" method="POST">
            {% csrf_token %}
            <fieldset>
                <select name="block_name" id="block">
                    <option value="">Block</option>
                    {% for i in blocks %}
                    <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                </select>
            </fieldset>
            <fieldset>
              <select name="inventry" id="block">
                  <option value="dryfoodpacket">Dry Food Packet</option>
                  <option value="middaymeal">Mid Day Meal</option>
                  <option value="cookedmeal">Cooked Meal</option>
              </select>
          </fieldset>
          <fieldset>
            <button name="submit" value="Next" type="submit" id="contact-submit">Next</button>
          </fieldset>
          
        </form>
      </div>

    {% endif %}
  </div>

  
{% endblock %}

